@charset "utf-8";
/* CSS Document */

//Modules and Variables
@import "modules/colors";
@import "partials/typography";
@import "partials/base";
@import "partials/reset";
@import "partials/images";

//layout
$padding: 20px;
$line-height: 100px;
 
//styles

html{
    width: 100%;
    overflow-x: hidden;
}

body{
    width: 100%;
    @include flex-layout-row;
    flex-direction: column;
    font-family: $body-font;
    margin: 0 auto;
    background-color: $body-bg-color;
}

h1, h2, h3, nav a {
    @include flatten;
    font-family: $header-font;
    color: $text-color-dark;
} 

.container{
    @include flex-layout-row;
}

//header styles
.header-content-wrap{
    display: flex;
    flex: 1;
    background-color: $header-color;
    
    h1, a{
        text-decoration: none;
        align-self: center;
        padding: 0 $padding;
        color: $text-color-light;
    }
    
}


//nav styles
nav{
    display: flex;
    justify-content: space-between;
    ul{    
        @include flatten;
        list-style: none;
        @media (max-width: $phoneLandscape){
            display: block;
        }
    }
    li{
        display: inline-block;
        @include flatten;
        
    }
    a{
        padding: $padding/2 $padding;
        display: block;
        line-height: $line-height;
        text-align: center;
        text-decoration: none;
        font-size: 1.2em;
        margin: auto;
        #{$hover}{
            background-color: darken($header-color, 10);
        }
        
    }
}


.btn-menu{
    display:none;
}

//content styles
.wrapper{
    background-color: $wrapper-bg-color;
    max-width: 1400px;
    margin: 0 auto;
}

main{ 
    width: 100%;
    h1{
        text-align: center;
        font-size: 3em;
        font-weight: 750;
    }
    h2{
        text-align: center;
    }
}

.top-banner{
    max-width: 100%;
    padding: 50px;
    text-align: center;    
    
    p{
        line-height: 20px;
    }
}
.mid-banner{
    width: 100%;
    position: relative;
    background-color: $header-color;
    h1{
        color: $text-color-light;
        padding: 10px;
    }
    ul{
        padding: 0 0 10px 0;
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    li{
        max-width: 30%;;
        display: flex;
        flex: 1 0 1;
        flex-wrap: wrap;
        margin: 10px;
        padding: 10px;
        color: $text-color-dark;
        background-color: $list-bg-color;
        #{$hover}{
            background-color: lighten($list-bg-color, 10);
        } 
    }
}



section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

section h1{
    grid-column: 1/3;
    text-align: center;
}

.row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-content: center;
}

article{
    display: grid;
    table{
        width: 100%;
        margin: 5px 10%;
    }
    td{
        padding: 5px;
    }
    td:first-of-type{
        text-align: right;
    }
    .days{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3, 1fr);
        padding: 0;
    .day{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
            a{
            display: flex;
            color: $text-color-light;
            background-color: $header-color;
            margin: 10px 0;
            padding: 10px;
            text-decoration: none;
            #{$hover}{
                background-color: lighten($header-color, 10);
            } 
        }
    }
}
}



article{
    display: grid;
    padding: 10px;
}

.bottom-banner{
    text-align: center;
    margin-bottom: 50px;
    p{
    font-family: $header-font;
    color: $text-color-dark;
    font-size: 2em;
    font-weight: 750;
    @include flatten;
    padding-bottom: 10px;
    }
    a{
        display: inline-block;
        text-decoration: none;
        color: $text-color-light;
        background-color: $header-color;
        padding: 10px 20px;
        #{$hover}{
            background-color: lighten($header-color, 10);
        } 
    }
}

//footer
footer{
    background-color: #000000;
    color: $text-color-light;
    width: 100%;
    h2{
        padding: 10px 0;
    }
    .row{
        display: flex;
        padding: 30px 20px;
        div{
            display: flex;
            flex-direction: column;
            flex: 1;
            h2{
                color: $text-color-light;
            }
            a{
                text-decoration: none;
                color: $text-color-light;
            }
            p{
                margin: 10px 0;
            }
        }
    }
}

@media only screen and (max-width: 925px){
    nav{
        display: none;
    }
    h1{
        text-align: center;
    }
    .btn-menu{
        border: none;
        background-color: $header-color;
        color: $text-color-light;
        padding: 0 $padding;
        display: block;
        line-height: $line-height;
        text-align: center;
        text-decoration: none;
        font-size: 1.2em;

        #{$hover}{
            background-color: darken($header-color, 10);
        }
    }

    .show{
        nav{
        display: block;
        height: 200px;
        width: 100%;
        ul li{
            display: block;        
        }
        a{
            text-align: center;
            line-height: 40px;
            #{$hover}{
                background-color: lighten($header-color, 10);
            } 
        }
        ul li:nth-child(odd) a{
            background-color: darken($header-color, 10);  
            #{$hover}{
                background-color: lighten($header-color, 10);
            }          
        }
        }
    }

    section .row{
        grid-template-columns: 1fr;
        grid-column: 1;
        align-content: center;
        .column .ul{
            margin: auto;
            padding: 10px 10px;
            li{
                padding: 5px;
            }
        }
        
        .column{
            display: grid;
            grid-template-columns: 1fr;
            justify-content: space-between;
            align-self: center;
        }
    }
    .days{
        padding: 10px;
    }
    
    

footer .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    flex-direction: column;
}
    .column{
        padding: 10px;
    }
    .column:first-of-type{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        h3:last-child{
            display: grid;
            grid-column: 2;
        }
    }
}
h3{
    margin: 10px 0px;
}
@media only screen and (max-width: 610px){
    footer .row{
        display: flex;
        flex-direction: column;
        .column:first-of-type{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            h3:last-child{
                display: grid;
                grid-column: 2;
                text-align: left;
                margin: 10px 0
            }
        }
    }

    article .days{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4, 1fr);
        margin: 10px;
        .day{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            flex: 1 0 auto;
        }
    }
}

@media only screen and (max-width: 420px){
    html{
        overflow-x: auto;
    }
    footer .row{
        display: flex;
        flex-direction: column;
        .column:first-of-type{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            h3:last-child{
                display: grid;
                grid-column: 2;
                text-align: left;
                margin: 10px 0
            }
        }
    }

    article .days{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(6, 1fr);
        margin: auto;
        grid-column-gap: 10px;
        padding: 0;
        .day{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            flex: 1 0 auto;
        }
    }
.top-banner{
    h1{
        font-size: 2.1em;
    }
    p{
        font-size: 1em;
    }
}

    .mid-banner{
        display: grid;
        grid-template-columns: 1fr;
        h1{
            font-size: 2.1em;
        }
        ul{
            display: grid;
            li{
            max-width: 100%;
        }
    }
    }
}