//Hover State Selecter
$hover: '&:hover, &:focus, &:active';

// Function to
// Convert Px to Ems
@function em($px, $bc: 16){
    @return #{$px/$bc}em; 
}

// Media Query Breakpoints
$desktopMedium: em(1250);
$tabletLandscape: em(1024);
$tabletPortrait: em(850);
$phoneLandscape: em(670);
$phonePortrait: em(420);

//Mixins
//Creates a basic row
@mixin flex-layout-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
//Flatten HTML elements
@mixin flatten{
    margin: 0;
    padding: 0;
    line-height: 1;
}
