//colors variables
$header-color: #003E6B;
$body-bg-color: rgb(186, 186, 196);
$list-bg-color: rgb(210, 210, 238);
$wrapper-bg-color: rgb(253, 253, 253);

//textcolors variables
$text-color-light: white;
$text-color-dark: black;